/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
  font-family: "Lora"; /* serif */
  src: local("Lora"),
    url("./assets/fonts/lora/Lora-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Inter"; /* sans-serif */
  src: local("Inter"),
    url("./assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf")
      format("truetype");
}

@font-face {
  font-family: "Inconsolata"; /* mono */
  src: local("Inconsolata"),
    url("./assets/fonts/inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf")
      format("truetype");
}
.wrapper {
  margin: 0 40px;
}

.book-logo {
  height: 27px;
}
.settings-bar {
  height: 36px;
  margin: 40px 0 -10px 0;
  display: flex;
  justify-content: space-between;
}

.icon-moon {
  width: 15px;
  justify-content: flex-end;
}

.search {
  position: relative;
}

.search-bar {
  height: 43px;
  background: #f4f4f4;
  border-radius: 11px;
  margin: 35px 0 10px 0;
  width: 99%;
  caret-color: #a445ed;

  &:active {
    border: 1px #a445ed solid;
  }
}

.search-input {
  background: #f4f4f4;
  border: none;
  font-size: 16.5px;
  font-weight: 700;
  max-width: 97%;
  border-radius: 11px;
  padding-left: 15px;
  height: 90%;
}

.font-select {
  border: none;
  background: #ffff;
  box-shadow: none;
  margin-left: 7em;
  margin-top: 0.25em;
  font-weight: 700;
}

.font-selection {
  position: relative;
}

.font-selection::after {
  content: "|";
  color: #e9e9e9;
  position: absolute;
}

.btn-search {
  position: absolute;
  right: 2%;
  border: none;
  top: 14px;
  background-color: #f4f4f4;
}

.search-logo {
  width: 13px;
}

.keyword {
  display: flex;
  margin: auto;
  margin-top: 35px;
  justify-content: space-between;
  color: #2d2d2d;
}

.definitions-list {
  padding: 10px 20px;
}

.keyword h1 {
  font-size: 44px;
  margin: 0 0 0.5rem 0;
}

.phonetic {
  font-size: 1rem;
  color: #a445ed;
  margin-top: -9px;
  font-weight: 400;
  font-family: "Inter";
}

.play-icon {
  margin-top: 15px;
  width: 52px;
}

.part-of-speech {
  display: flex;
  font-weight: 700;
  margin: 20px 0 30px 0;
  position: relative;
  max-width: 480px;
}

.part-of-speech:after {
  flex: 1;
  content: " ";
  border-top: 1px solid #e9e9e9;
  position: relative;
  top: 9px;
  left: 10px;
}

.definitions header,
.synonyms-header {
  font-weight: 400;
  color: #757575;
  font-size: 15px;
}

.synonyms {
  color: #a445ed;
  font-weight: 700;
  font-size: 14px;
}

.synonyms:hover {
  text-decoration: underline;
  cursor: pointer;
}

.definitions hr {
  border: none;
  height: 1px;
  background-color: #e9e9e9;
}
.definitions-list li {
  margin-bottom: 12px;
  padding-left: 8px;
  color: #2d2d2d;
  font-weight: 400;
  font-size: 0.75em;
}

.definitions-list li::marker {
  color: #a445ed;
  /* font-size: 10px; */
}

.example {
  color: #757575;
  margin-top: 10px;
}

.error {
  color: #ff5252;
  font-size: 15px;
}

.error-border {
  border: 1px #ff5252 solid;
}

.not-found {
  margin-top: 5px;
  text-align: center;
}

.not-found-error {
  color: #757575;
  font-size: 14px;
}

.not-found-emoji {
  font-size: 50px;
}

.source-text-preceder {
  color: #757575;
  text-decoration: underline;
  font-size: 12px;
}

.source {
  color: #2d2d2d;
  text-decoration: underline;
  font-size: 12px;
}

.icon-new-window {
  width: 12px;
  position: relative;
  top: 1px;
}

.dark {
  background: black;
  color: white;
  .synonyms {
    color: #8f19e8;
  }

  .part-of-speech:after {
    border-top: 1px solid #3a3a3a;
  }

  .icon-moon {
    filter: invert(45%) sepia(67%) saturate(7152%) hue-rotate(260deg)
      brightness(100%) contrast(87%);
  }

  .keyword {
    color: white;
  }

  .definitions-list li {
    color: #ffffff;
  }

  .font-select {
    /* box-shadow: 0px 2px 6px #a445ed; */
  }

  .search-input {
    background: #1f1f1f;
    color: white;
  }

  .search-bar {
    background: #1f1f1f;
  }

  .btn-search {
    background-color: #1f1f1f;
  }
  .source {
    color: #ffff;
  }
  .definitions hr {
    background-color: #3a3a3a;
  }
}

.serif,
.serif .search-input,
.serif .font-select {
  font-family: "Lora", serif;
}

.serif .part-of-speech {
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.sansSerif,
.sansSerif .search-input,
.sansSerif .font-select {
  font-family: "Inter", sans-serif;
}

.sansSerif .part-of-speech {
  font-style: italic;
}

.mono {
  font-family: "Inconsolata";
  font-size: 1.2em;
}

.mono .part-of-speech {
  font-weight: 700;
}

.mono .search-input,
.mono .font-select {
  font-family: "Inconsolata";
}

@media (min-width: 550px) {
  .wrapper {
    max-width: 500px;
    margin: auto;
  }

  .font-select {
    margin-left: 23em;
    margin-right: 0.75em;
  }
}
