/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
  font-family: "Lora";
  src: local("Lora"),
    url("./assets/fonts/lora/Lora-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf")
      format("truetype");
}

@font-face {
  font-family: "Inconsolata";
  src: local("Inconsolata"),
    url("./assets/fonts/inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf")
      format("truetype");
}
.wrapper {
  font-family: Inconsolata;
  margin: auto;
  width: 500px;
}

.book-logo {
  height: 27px;
}
.settings-bar {
  height: 36px;
  margin: 40px 0 -10px 0;
  display: flex;
  justify-content: space-between;
}

.icon-moon {
  width: 15px;
  justify-content: flex-end;
}

.search-bar {
  height: 43px;
  background: #f4f4f4;
  border-radius: 11px;
  margin: 35px 0 10px 0;
  width: 100%;
  caret-color: #a445ed;

  &:active {
    border: 1px #a445ed solid;
  }
}

.search-input {
  margin-left: 15px;
  background: #f4f4f4;
  border: none;
  height: 40px;
  font-weight: 700;
  width: 94%;
}

.btn-search {
  position: relative;
  right: -465px;
  border: none;
  top: -28px;
  background-color: #f4f4f4;
}

.search-logo {
  width: 13px;
}

.keyword {
  display: flex;
  margin: auto;
  margin-top: 35px;
  justify-content: space-between;
  color: #2d2d2d;
  font-family: inconsolata;
}

.definitions {
  font-family: "inter", sans-serif;
}

.definitions-list {
  padding: 10px 20px;
}

.keyword h1 {
  font-family: inter;
  font-size: 44px;
  margin: 0 0 0.5rem 0;
}

.phonetic {
  font-size: 1rem;
  color: #a445ed;
  margin-top: -9px;
  font-weight: 400;
}

.play-icon {
  margin-top: 15px;
  width: 52px;
  margin-right: -3px;
}

.part-of-speech {
  font-weight: 700;
  margin: 25px 0 30px 0;
  position: relative;
}

.part-of-speech:after {
  content: " ";
  width: 452px;
  position: absolute;
  top: 50%;
  left: 30px;
  margin-left: 20px;
  border-top: 1px solid #e9e9e9;
}

.definitions header,
.synonyms-header {
  font-weight: 400;
  color: #757575;
  font-size: 15px;
}

.synonyms {
  color: #a445ed;
  font-weight: 700;
  font-size: 14px;
}

.synonyms:hover {
  text-decoration: underline;
}

.definitions-list li {
  margin-bottom: 17px;
  padding-left: 8px;
  color: #2d2d2d;
  font-size: 13px;
  font-family: inter, sans-serif;
  font-weight: 400;
}

.definitions-list li::marker {
  color: #a445ed;
  font-size: 10px;
}

.example {
  color: #757575;
  margin-top: 10px;
}

.error {
  color: #ff5252;
  font-size: 15px;
}

.error-border {
  border: 1px #ff5252 solid;
}

.not-found {
  margin-top: 90px;
  text-align: center;
}

.not-found-error {
  color: #757575;
  font-size: 14px;
}

.not-found-emoji {
  font-size: 50px;
}

.source-text-preceder {
  color: #757575;
  text-decoration: underline;
  font-size: 12px;
}

.source {
  color: #2d2d2d;
  text-decoration: underline;
  font-size: 12px;
}

.icon-new-window {
  width: 12px;
  position: relative;
  top: 1px;
}

.dark {
  background: black;
  color: white;
  .synonyms {
    color: #8f19e8;
  }

  .icon-moon {
    filter: invert(45%) sepia(67%) saturate(7152%) hue-rotate(260deg)
      brightness(100%) contrast(87%);
  }

  .keyword {
    color: white;
  }

  .definitions-list li {
    color: #ffffff;
  }

  .search-input {
    background: #1f1f1f;
    color: white;
  }

  .search-bar {
    background: #1f1f1f;
  }

  .btn-search {
    background-color: #1f1f1f;
  }
  .source {
    color: #ffff;
  }
}

.serif {
  font-family: Lora;
  font-weight: 700;
}
.sans-serif {
  font-family: Inter;
  font-weight: 700;
}
.mono {
  font-family: Inconsolata;
  font-weight: 700;
}
